body {
  margin-left: 60px;
  margin-right: 20px;
  font-family: serif;
}

img {
  width: 100%;
}

/*-----header-----*/

#main-header {
  margin-top: 60px;
}

#logo img {
  max-width: 210px;
}

#site-title {
  margin-bottom: 0;
}

#site-title a {
  font-size: 1.8rem;
  color: #1a1a1a;
  text-decoration: none;
  font-weight: bold;
  line-height: 1.25;
  font-family: sans-serif;
}

#site-title a:hover {
  color: #dc6520;
}

#about-site {
  color: #3c5349;
  margin-top: 5px;
}

#header-image-container {
  margin-top: 50px;
}

/*-----main-----*/

#content {
  margin-top: 80px;
  width: 70%;
  display: inline-block;
}


#blog-header {
  margin-bottom: 50px;
}

#blog-header h1 {
  font-size: 3.2rem;
  color: #13222c;
  font-family: sans-serif;
}



/*-----author container-----*/

#author-container {
  display: inline-block;
  width: 16%;

vertical-align: top;

position: relative;
}

#author-container img{
  
  max-width: 60px;
  border-radius: 50%;
  
}

#author-container span{
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-family:  Arial, Helvetica, sans-serif;
  line-height: 2.5rem;
}

#author-container .slash {
  display: none;
}

#author-container a {
  display: block;
  line-height: 2.5rem;
  color: #3c5349;
  text-decoration:none;
  font-family: monospace;
  font-size: 1.2rem;
}

#author-container a:hover {
  color: #dc6520;
  text-decoration: underline;
}

/*-----views-----*/


.views img{
  width: 3%;
}

.views span{
  display: inline-block;
vertical-align: text-bottom;
font-family:  Helvetica, sans-serif;
font-weight: bold;
}



/*  */

/* social */
#social {
  position: fixed;
  top: 25%;
  left: 0;
  line-height: 1;
}

#social .social-btn {
  display: block;
  padding: 14px 13px;
  color: #ffffff;
}

#social .social-img {
  width: 19px;
}

#facebook {
  background-color: #3b5998;
}

#facebook:hover {
  background-color: #2d4373;
}

#linkedin {
  background-color: #0077b5;
}

#linkedin:hover {
  background-color: #00121c;
}

#twitter {
  background-color: #83c3f3;
}

#twitter:hover {
  background-color: #55acee;
}

#gmail {
  background-color: #dd4b39;
}

#gmail:hover {
  background-color: #c23321;
}

#whatsapp {
  background-color: #6ba92f;
}

#whatsapp:hover {
  background-color: #528124;
}

#mail {
  background-color: #ed4926;
}

#mail:hover {
  background-color: #cf3311;
}
/*  */

/*-----blog content-----*/

#blog-content {
  display: inline-block;
  font-size: 1.1rem;
  word-spacing: 1px;
  line-height: 1.4;
  width: 70%;
  position: relative;
  left:11%;
}

#blog-content h4.h-style {
  margin-bottom: 0;
}

#blog-content ol li p {
  margin-top: 10px;
}

#blog-content .sources a {
  text-decoration: none;
}

#blog-content .sources a:hover {
  color: #000000;
}

/*-----aside-----*/
/* aside section */

aside {
  display: inline-block;
  vertical-align: top;
  margin-left: 3%;
  width: 25%;

}
aside h4{
 
  border-top: 5px solid black;
  text-transform: uppercase;
  padding-top: 10%;
  line-height: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}

/*  */

/* widget properties */
.widget ul{
font-size: 1.5rem;
line-height: 2rem;
color: #dc6520;

}
.widget li:hover
{
color:black;
}

.widget .black-on{
color:black;
}
/*  */


/* labels and input tag properties */
label {
  color: #3c5349;
  padding-bottom: 3px;
  display: block;
  font-size: 1rem;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 4px 10px;
  background-color: #f7f7f7;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  color: #686868;
  width: 90%;
  display: block;
  line-height: 1.6;
  font-size: 1.05rem;
  color: #000000;
}
/*  */


/* button properties */
button[type="submit"] {
  background-color: #1a1a1a;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 12px 18px;
  text-transform: uppercase;
}

button[type="submit"]:hover {
  background-color: #dc6520;
}
/*  */


/* subscription form */
#subscription {
  display: inline-block;
  padding-top: 6rem;
  
}

#subscription .sub-btn {
  margin: 10px 0 0;
}

/*  */



/* search field css */
.search-div{
  border-top: 5px solid black;
  margin-top: 10%;
  padding-top: 5%;
  padding-left: 3%;
  
}
.input-search{
  display: inline-block;
  position: relative;
  width: 80%;
  border-radius: 5px 0px 0px 5px;
}

 .search-btn
{
  background-color: #000000;
  display: inline-block;
  background-image: url("./Images/asset_0000000000000013_1549319004_search-icon.png");
  background-size: cover;
  position: relative;
  width: 10%;
  height: 2.25rem;
  top: -0.4rem;
  border: none;
  margin-left: -4px;
  border-radius: 0px 5px 5px 0px;
}
/*  */
